body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #acaaaa;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between; /* Espaço entre as imagens */
    align-items: center;
    gap: 1px; /* Espaçamento entre imagens */
}

.image-container img {
    width: 30%; /* Ocupa 30% do container */
    max-width: 300px; /* Limite máximo de tamanho */
    height: 300px; /* Mantém a proporção */
    border-radius: 20px; /* Cantos arredondados */
    transition: transform 0.3s ease; /* Efeito ao passar o rato */
}

.image-container img:hover {
    transform: scale(1.1); /* Aumenta ligeiramente ao passar o rato */
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #e4e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    table-layout: fixed;
}

table thead {
    background-color: #333;
    color: #fff;
}

table thead th {
    padding: 12px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s;
}

table tbody tr:hover {
    background-color: #beb5b5;
}

table tbody td {
    padding: 12px;
}

/* --- Estilo da Paginação --- */
.pagination {
    width: 90%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between; /* Botões nas extremidades */
    align-items: center;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #575757;
}

.pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

/*.pagination .page-number {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}
*/

#grafico-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#grafico-container div {
    width: 45%;
    margin: 20px 0;
}

#grafico-container .grafico {
    width: 100%;
    height: 400px; /* Tamanho do gráfico */
}
/*
#calendarioHoras {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
}
#graficoPorDia {
  max-width: 900px;
  margin: auto;
}
*/